*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
  }

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-column {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
  margin-top: 10px;
}

.menu-column.menu-second-column {
  justify-content: flex-end;
}

.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 10px; 
  align-items: center;
}

.menu-nav ul li a {
  text-decoration: none;
  color: #585e65;
  
}

.menu-link-button {
  text-decoration: none;
  height: 40px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 5px 50px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  margin-top: 10px;
}
  

.posts{
    display: flex ;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    
}

.last-post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 24%;
    margin-top: 60px;
}
.last-post header{
    height: 250px;
    display: flex;
    justify-content: center;

}

.imagem{
    
}


.conteudo{
    text-align: left;
}
.last-post main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: small;
}

.last-post main p{
    font-weight: bold;
}

.botao{
    border: #2884da;
    padding: 10px;
    background-color:#2884da;
    border-radius: 4px;
    color: beige;
}


